In [2]:
import folium

In [3]:
dir(folium)

['Choropleth',
 'Circle',
 'CircleMarker',
 'ClickForMarker',
 'ColorLine',
 'ColorMap',
 'CssLink',
 'CustomIcon',
 'Div',
 'DivIcon',
 'Element',
 'FeatureGroup',
 'Figure',
 'FitBounds',
 'GeoJson',
 'GeoJsonTooltip',
 'Html',
 'IFrame',
 'Icon',
 'JavascriptLink',
 'LatLngPopup',
 'LayerControl',
 'LinearColormap',
 'Link',
 'MacroElement',
 'Map',
 'Marker',
 'PolyLine',
 'Polygon',
 'Popup',
 'Rectangle',
 'RegularPolygonMarker',
 'StepColormap',
 'TileLayer',
 'Tooltip',
 'TopoJson',
 'Vega',
 'VegaLite',
 'WmsTileLayer',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_version',
 'branca',
 'features',
 'folium',
 'map',
 'raster_layers',
 'sys',
 'utilities',
 'vector_layers']

In [4]:
map1 = folium.Map(location=[18.559477,73.802044]) #coordinates

In [5]:
map1.save('9amMap1.html')

In [20]:
map2 = folium.Map(location=[18.559477,73.802044])
m1= folium.Marker(location=[18.559477,73.802044],popup='TechnoGeeks Pune Aundh',icon = folium.Icon(color='red'))
map2.add_child(m1)
map2.save('9am_Map2.html')

In [11]:
l = [[18.559477,73.802044],[18.597497,73.718770]]

In [12]:
l

[[18.559477, 73.802044], [18.597497, 73.71877]]

In [15]:
mymap3 = folium.Map(location=[18.559477,73.802044]) 
fg = folium.FeatureGroup() #collection of multiple markers or transperant map marker sheet

for i in l:
    m = folium.Marker(location=i)
    fg.add_child(m)

mymap3.add_child(fg)
mymap3.save('9am_Multimarker.html')

In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('Volcanoes.txt')

In [18]:
df.head()

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997

In [30]:
df['LAT'].min()

33.7801018

In [27]:
lat = list(df['LAT'])
lon = list(df['LON'])
name = list(df['NAME'])
elev = list(df['ELEV'])

In [32]:
def color1(i):
    if i<=1000:
        return 'blue'
    elif i>1000 and i<=2000:
        return 'green'
    elif i>2000 and i<=3000:
        return 'orange'
    else:
        return 'red'

In [41]:
mymap4 = folium.Map()
fg = folium.FeatureGroup() #collection of multiple markers or transperant map marker sheet
for lt,ln,nm,el in zip(lat,lon,name,elev):
    m = folium.Marker(location=[lt,ln],popup=nm,icon = folium.Icon(color=color1(el)))
    fg.add_child(m)
    
mymap4.add_child(fg)
mymap4.save('volcano_map.html')

In [42]:
df['LOCATION'].unique()

array(['US-Washington', 'US-Oregon', 'US-Wyoming', 'US-Idaho',
       'US-California', 'US-Nevada', 'US-Colorado', 'US-Utah',
       'US-Arizona', 'US-New Mexico'], dtype=object)

In [3]:
df1 = pd.read_csv('supermarkets.csv')

In [4]:
df1.head()

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
ID           6 non-null int64
Address      6 non-null object
City         6 non-null object
State        6 non-null object
Country      6 non-null object
Name         6 non-null object
Employees    6 non-null int64
dtypes: int64(2), object(5)
memory usage: 256.0+ bytes